.ShopLeftSidebarFilter_Product_Brand {
    position: absolute;
    width: 138px;
    height: 30px;
    left: 383px;
    top: 681px;
    font-family: 'Josefin Sans';
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #151875;

}
.ShopLeftSidebarFilter_Product_Brand_line1{
    position: absolute;
width: 130px;
height: 0px;
left: 388px;
top: 707px;

border: 1px solid #000000;
}
.ShopLeftSidebarFilter_Product_Brand_box1{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 378px;
    top: 728px;
    
    background: #E5E0FC;
}
.ShopLeftSidebarFilter_Product_Brand_name1{
    position: absolute;
    width: 123px;
    height: 30px;
    left: 408px;
    top: 722px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    
    text-align: center;
    
    color: #7E81A2;
}
.ShopLeftSidebarFilter_Product_Brand_box2{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 379px;
    top: 764px;
    
    background: #E5E0FC;
}
.ShopLeftSidebarFilter_Product_Brand_name2{
    position: absolute;
width: 172px;
height: 30px;
left: 408px;
top: 760px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

text-align: center;

color: #7E81A2;
}
.ShopLeftSidebarFilter_Product_Brand_box3{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 379px;
    top: 802px;
    
    background: #E5E0FC;
}
.ShopLeftSidebarFilter_Product_Brand_name3{
    position: absolute;
width: 175px;
height: 30px;
left: 408px;
top: 798px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

text-align: center;

color: #7E81A2;
}
.ShopLeftSidebarFilter_Product_Brand_box4{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 379px;
    top: 836px;
    
    background: #E5E0FC;
}
.ShopLeftSidebarFilter_Product_Brand_name4{
    position: absolute;
width: 181px;
height: 30px;
left: 408px;
top: 834px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

text-align: center;

color: #7E81A2;

}
.ShopLeftSidebarFilter_Product_Brand_box5{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 379px;
    top: 876px;
    
    background: #E5E0FC;
}
.ShopLeftSidebarFilter_Product_Brand_name5{
    position: absolute;
width: 132px;
height: 30px;
left: 408px;
top: 870px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

text-align: center;

color: #7E81A2;

}
.ShopLeftSidebarFilter_Product_Brand_box6{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 379px;
    top: 912px;
    
    background: #E5E0FC;
}
.ShopLeftSidebarFilter_Product_Brand_name6{
    position: absolute;
    width: 139px;
    height: 30px;
    left: 408px;
    top: 908px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    
    text-align: center;
    
    color: #7E81A2;
     
}
.ShopLeftSidebarFilter_Discount_Offer{
    position: absolute;
width: 141px;
height: 30px;
left: 382px;
top: 982px;

font-family: 'Josefin Sans';
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */

text-align: center;

/* Text */

color: #151875;

}
.ShopLeftSidebarFilter_Discount_Offer_line1{
    position: absolute;
width: 138px;
height: 0px;
left: 385px;
top: 1008px;

border: 1px solid #000000;
}
.ShopLeftSidebarFilter_Discount_Offer_box1{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 379px;
    top: 1027px;
    
    background: #FFDBF1;
}
.ShopLeftSidebarFilter_Discount_Offer_name1{
    position: absolute;
    width: 103px;
    height: 30px;
    left: 408px;
    top: 1023px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    
    text-align: center;
    
    color: #7E81A2;
    
}
.ShopLeftSidebarFilter_Discount_Offer_box2{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 379px;
    top: 1065px;
    
    background: #FFDBF1;
}
.ShopLeftSidebarFilter_Discount_Offer_name2{
    position: absolute;
width: 135px;
height: 30px;
left: 408px;
top: 1061px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

text-align: center;

color: #7E81A2;

}
.ShopLeftSidebarFilter_Discount_Offer_box3{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 379px;
    top: 1103px;
    
    background: #FFDBF1;
}
.ShopLeftSidebarFilter_Discount_Offer_name3{
    position: absolute;
    width: 140px;
    height: 30px;
    left: 408px;
    top: 1099px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    
    text-align: center;
    
    color: #7E81A2;
     
}
.ShopLeftSidebarFilter_Categories{
    position: absolute;
width: 104px;
height: 30px;
left: 383px;
top: 1381px;

font-family: 'Josefin Sans';
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */

text-align: center;

/* Text */

color: #151875;

}
.ShopLeftSidebarFilter_Categories_line1{
    position: absolute;
width: 101.5px;
height: 0px;
left: 385px;
top: 1406.5px;

border: 1px solid #000000;
}
.ShopLeftSidebarFilter_Categories_box1{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 379px;
    top: 1426px;
    
    background: #FFDBF1;
}
.ShopLeftSidebarFilter_Categories_name1{
    position: absolute;
    width: 78px;
    height: 30px;
    left: 409px;
    top: 1422px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    
    text-align: center;
    
    color: #7E81A2;
}
.ShopLeftSidebarFilter_Categories_box2{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 379px;
    top: 1460px;
    
    background: #FFDBF1;
}
.ShopLeftSidebarFilter_Categories_name2{
    position: absolute;
    width: 63px;
    height: 30px;
    left: 409px;
    top: 1456px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    
    text-align: center;
    
    color: #7E81A2;
    
}
.ShopLeftSidebarFilter_Categories_box3{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 379px;
    top: 1497px;
    
    background: #FF3EB2;
}
.ShopLeftSidebarFilter_Categories_name3{
    position: absolute;
    width: 95px;
    height: 30px;
    left: 409px;
    top: 1492px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    
    text-align: center;
    
    color: #7E81A2;
}
.ShopLeftSidebarFilter_Categories_box4{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 379px;
    top: 1532px;
    
    background: #FFDBF1;
}
.ShopLeftSidebarFilter_Categories_name4{
    position: absolute;
    width: 92px;
    height: 30px;
    left: 410px;
    top: 1528px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    
    text-align: center;
    
    color: #7E81A2;
    
}
.ShopLeftSidebarFilter_Categories_box5{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 379px;
    top: 1567px;
    
    background: #FFDBF1;
}
.ShopLeftSidebarFilter_Categories_name5{
    position: absolute;
    width: 46px;
    height: 30px;
    left: 407px;
    top: 1563px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    
    text-align: center;
    
    color: #7E81A2;
    
}
.ShopLeftSidebarFilter_Categories_box6{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 379px;
    top: 1602px;
    
    background: #FFDBF1;
}
.ShopLeftSidebarFilter_Categories_name6{
    position: absolute;
    width: 34px;
    height: 30px;
    left: 408px;
    top: 1598px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    
    text-align: center;
    
    color: #7E81A2;
}
.ShopLeftSidebarFilter_Categories_box7{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 379px;
    top: 1637px;
    
    background: #FFDBF1;
}
.ShopLeftSidebarFilter_Categories_name7{
    position: absolute;
    width: 83px;
    height: 30px;
    left: 408px;
    top: 1633px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    
    text-align: center;
    
    color: #7E81A2;
}
.ShopLeftSidebarFilter_Categories_box8{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 379px;
    top: 1672px;
    
    background: #FFDBF1;
}
.ShopLeftSidebarFilter_Categories_name8{
    position: absolute;
    width: 66px;
    height: 30px;
    left: 408px;
    top: 1668px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    
    text-align: center;
    
    color: #7E81A2;
}
.ShopLeftSidebarFilter_Categories_box9{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 379px;
    top: 1707px;
    
    background: #FFDBF1;
}
.ShopLeftSidebarFilter_Categories_name9{
    position: absolute;
    width: 62px;
    height: 30px;
    left: 408px;
    top: 1703px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    
    text-align: center;
    
    color: #7E81A2;
}
.ShopLeftSidebarFilter_Price_Filter{
    position: absolute;
width: 105px;
height: 30px;
left: 383px;
top: 1777px;

font-family: 'Josefin Sans';
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */

text-align: center;

color: #292C58;

}
.ShopLeftSidebarFilter_Price_Filter_line1{
    position: absolute;
width: 101px;
height: 0px;
left: 385px;
top: 1803px;

border: 1px solid #000000;
}
.ShopLeftSidebarFilter_Price_Filter_box1{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 379px;
    top: 1824px;
    
    background: #FFDBF1;
}
.ShopLeftSidebarFilter_Price_Filter_name1{
    position: absolute;
    width: 108px;
    height: 30px;
    left: 408px;
    top: 1818px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    /* identical to box height, or 200% */
    
    text-align: center;
    
    color: #989BB5;
}
.ShopLeftSidebarFilter_Price_Filter_box2{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 379px;
    top: 1857px;
    
    background: #FFDBF1;
}
.ShopLeftSidebarFilter_Price_Filter_name2{
    position: absolute;
width: 125px;
height: 30px;
left: 408px;
top: 1851px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 30px;
/* identical to box height, or 200% */

text-align: center;

color: #989BB5;

}
.ShopLeftSidebarFilter_Price_Filter_box3{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 379px;
    top: 1890px;
    
    background: #FF3EB2;
}
.ShopLeftSidebarFilter_Price_Filter_name3{
    position: absolute;
width: 125px;
height: 30px;
left: 410px;
top: 1884px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 30px;
/* identical to box height, or 200% */

text-align: center;

color: #989BB5;
}
.ShopLeftSidebarFilter_Price_Filter_box4{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 379px;
    top: 1923px;
    
    background: #FFDBF1;
}
.ShopLeftSidebarFilter_Price_Filter_name4{
    position: absolute;
width: 69px;
height: 30px;
left: 408px;
top: 1917px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 30px;
/* identical to box height, or 200% */

text-align: center;

color: #989BB5;
}
.ShopLeftSidebarFilter_Price_search_box{
    position: absolute;
width: 203px;
height: 31px;
left: 383px;
top: 1965px;

background: #FFFFFF;
border: 1px solid #BCBDDB;
border-radius: 3px;
}
.ShopLeftSidebarFilter_Price_search_box_text{
    position: absolute;
width: 90px;
height: 30px;
left: 395px;
top: 1965px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 30px;
/* identical to box height, or 250% */

text-align: center;

/* Grey Text */

color: rgba(21, 24, 117, 0.1);
}
.ShopLeftSidebarFilter_Price_search_box_icon{
    position: absolute;
width: 14px;
height: 14px;
left: 556px;
top: 1972px;

}
.ShopLeftSidebarFilter_FilterByColor{
    position: absolute;
width: 138px;
height: 30px;
left: 383px;
top: 2046px;

font-family: 'Josefin Sans';
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */

text-align: center;

color: #292C58;
}
.ShopLeftSidebarFilter_FilterByColor_line1{
    position: absolute;
width: 134px;
height: 0px;
left: 385px;
top: 2072px;

border: 1px solid #000000;
}
.ShopLeftSidebarFilter_FilterByColor_box1{
    position: absolute;
    width: 14px;
    height: 14px;
    left: 383px;
    top: 2094px;
    
}
.ShopLeftSidebarFilter_FilterByColor_name1{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 401px;
    top: 2085px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    /* identical to box height, or 200% */
    
    text-align: center;
    
    color: #7E81A2;
}
.ShopLeftSidebarFilter_FilterByColor_box2{
    position: absolute;
    width: 14px;
    height: 14px;
    left: 450px;
    top: 2094px;

}
.ShopLeftSidebarFilter_FilterByColor_name2{
    position: absolute;
width: 49px;
height: 30px;
left: 468px;
top: 2085px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 30px;
/* identical to box height, or 200% */

text-align: center;

color: #7E81A2;

}
.ShopLeftSidebarFilter_FilterByColor_box3{
    position: absolute;
    width: 14px;
    height: 14px;
    left: 526px;
    top: 2094px;
}
.ShopLeftSidebarFilter_FilterByColor_name3{
    position: absolute;
width: 44px;
height: 30px;
left: 544px;
top: 2085px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 30px;
/* identical to box height, or 200% */

text-align: center;

color: #7E81A2;

}
.ShopLeftSidebarFilter_FilterByColor_box4{
    position: absolute;
    width: 14px;
    height: 14px;
    left: 383px;
    top: 2131px;
}
.ShopLeftSidebarFilter_FilterByColor_name4{
    position: absolute;
width: 41px;
height: 30px;
left: 401px;
top: 2122px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 30px;
/* identical to box height, or 200% */

text-align: center;

color: #7E81A2;

}
.ShopLeftSidebarFilter_FilterByColor_box5{
    position: absolute;
    width: 14px;
    height: 14px;
    left: 450px;
    top: 2131px;
}
.ShopLeftSidebarFilter_FilterByColor_name5{
    position: absolute;
width: 43px;
height: 30px;
left: 468px;
top: 2122px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 30px;
/* identical to box height, or 200% */

text-align: center;

color: #7E81A2;
}
.ShopLeftSidebarFilter_FilterByColor_box6{
    position: absolute;
    width: 14px;
    height: 14px;
    left: 526px;
    top: 2131px;
    
    
}
.ShopLeftSidebarFilter_FilterByColor_name6{
    position: absolute;
    width: 24px;
    height: 30px;
    left: 544px;
    top: 2122px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    /* identical to box height, or 200% */
    
    text-align: center;
    
    color: #7E81A2;
     
}
.ShopLeftSidebarFilter_FilterBy_Rating_Item{
    position: absolute;
width: 114px;
height: 30px;
left: 382px;
top: 1172px;

font-family: 'Josefin Sans';
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */

text-align: center;

/* Text */

color: #151875;

}
.ShopLeftSidebarFilter_FilterBy_Rating_Item_line1{
    position: absolute;
width: 111px;
height: 0px;
left: 385px;
top: 1198px;

border: 1px solid #000000;
}
.ShopLeftSidebarFilter_FilterBy_RatingItem_box1{
    position: absolute;
width: 16px;
height: 16px;
left: 379px;
top: 1219px;
border: none;
background-color: #ae8b24;
}
.ShopLeftSidebarFilter_FilterBy_RatingItem_line1_star1{
    position: absolute;
/* width: 12px;
height: 12px; */
left: 405px;
top: 1222px;
}

.ShopLeftSidebarFilter_FilterBy_Rating_Item_line1_price{
    position: absolute;
width: 33px;
height: 30px;
left: 476px;
top: 1213px;

font-family: 'Josefin Sans';
font-size: 12px;
line-height: 30px;
/* identical to box height, or 250% */

text-align: center;

color: #000000;
}
.ShopLeftSideBarCard1RatingStar2_1{
    position: absolute;
    /* width: 12px;
    height: 12px; */
    left: 405px;
    top: 1254px;
}



.ShopLeftSideBarCard1RatingStar3_1{
    position: absolute;
    /* width: 12px;
    height: 12px; */
    left: 405px;
    top: 1286px;
}



.ShopLeftSideBarCard1RatingStar4_1{
    position: absolute;
    /* width: 12px;
    height: 12px; */
    left: 405px;
    top: 1318px;
}


.ShopLeftSidebarFilter_FilterBy_RatingItem_box2{
    position: absolute;
width: 16px;
height: 16px;
left: 379px;
top: 1252px;

background: #FFCC2E;
}
.ShopLeftSidebarFilter_FilterBy_RatingItem_box3{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 379px;
    top: 1282px;
    
    background: #FFF6DA;
}
.ShopLeftSidebarFilter_FilterBy_RatingItem_box4{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 379px;
    top: 1316px;
    
    background: #FFF6DA;
}
.ShopLeftSidebarFilter_FilterBy_Rating_Item_line2_price{
    position: absolute;
    width: 33px;
    height: 30px;
    left: 476px;
    top: 1247px;
    
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 30px;
    /* identical to box height, or 250% */
    
    text-align: center;
    
    color: #000000;
}
.ShopLeftSidebarFilter_FilterBy_Rating_Item_line3_price{
    position: absolute;
    width: 29px;
    height: 30px;
    left: 476px;
    top: 1279px;
    
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 30px;
    /* identical to box height, or 250% */
    
    text-align: center;
    
    color: #000000;
}
.ShopLeftSidebarFilter_FilterBy_Rating_Item_line4_price{
    position: absolute;
    width: 23px;
    height: 30px;
    left: 476px;
    top: 1311px;
    
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 30px;
    /* identical to box height, or 250% */
    
    text-align: center;
    
    color: #000000;
    
}