.All_Rights_Reserved {
    position: absolute;
    left: 19.64%;
    right: 68.91%;
    top: 93.23%;
    bottom: 3.2%;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  
    color: #9da0ae;
  }
  .social_media {
    position: absolute;
    left: 65.47%;
    right: 30.36%;
    top: 93.23%;
    bottom: 3.12%;
  }