.AboutEcomerce_layout1{
  position: relative;
  width: 100%;
 
  margin: 119px 0px;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* background: #2b3cab; */
}
.AboutEcomerce_box1 {
  
  width: 34%;
  height: 100%;
  object-fit: contain;
  top: 0px;
  background: #2b3cab;
  border-radius: 6px;
  border: 2px solid rgb(181, 228, 10);
}
.AboutEcomerce_box2 {
  /* position: relative; */
  width: 34%;
  /* height: 360px;   */
  top: 0px;
  /* background: #4d5483; */
  border-radius: 6px;
  /* border: 2px solid rgb(32, 15, 15); */
}
.AboutEcomerce_box1_img1 {

  width:100%;
 height:100%;
  /* left: 10px; */
  top: 0px;
  margin: 0px 10px 10px ;
  /* background: #7a83bc; */
  border-radius: 6px;
  
  background-size:contain;
}
.AboutEcomerce_contactUs {
  /* position: relative; */
  width: 25%;
  height: 99%;
  left: 97px;
  top: 39px;
  background: #fb2e86;
  border-radius: 3px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size:1vw;
  line-height: 26px;
  color: #ffffff;
  border: none;
  border: 2px solid rgb(66, 6, 6);
}
.AboutEcomerce_text1 {
  /* position: absolute;
  width: 522px;
  height: 96px;
  left: 975px;
  top: 41px; */

  font-family: "Josefin Sans";
  font-size: 2.2vw;
  line-height: 3vw;
  color: #151875;
}
.AboutEcomerce_text2 {
  /* position: absolute; */
  /* width: 550px;
  height: 49px;
  left: 975px;
  top: 151px; */

  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height:2vw;
  color: #8a8fb9;
}
