.EcommerceFashionItem_layout{
  width: 100%;
  height: auto;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
}
.EcommerceFashionItem {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 62%;
  height: auto;
  /* overflow:hidden; */
  /* border: 2px solid rgb(26, 189, 17);  */
}
@media screen and (max-device-width:640px), screen and (max-width:640px)  {
  .EcommerceFashionItem {
    position: relative;
    display: grid;
    grid-template-columns:auto;
    width: 62%;
    height: auto;
    /* overflow:hidden; */
    /* border: 2px solid rgb(26, 189, 17);  */
  }
}


