.featureproduct1 {
  /* position: absolute; */
  width: 92%;
  gap: 1vw;
  height: 23.4vw;
  background: #ffffff;
  /* border: 2px solid red; */
  margin-bottom: 40px;
  box-shadow: 0px 0px 10px rgba(156, 151, 151, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
 align-items: center;
}

.featureproduct1_background {
  height: 14.7vw;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background: #f6f7fb;
  /* border: 2px solid palevioletred; */
  /* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1); */
}

.featureproduct1_img1 {
  position: absolute;
  height: 11.2vw;
  top: 1.5vw;
  left: 1vw;
  border-radius: 0px;
}

.featureproduct1_name {
  position: relative;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 1.1vw;
  line-height: 1.4vw;
  color: #FB2E86;
}

.featureproduct1_color {
  display: flex;
  flex-direction: row;
  gap: .3vw;

  /* border: 2px solid palevioletred; */
}
.color_p {
  position: relative;
  height: .3vw;
  width: .8vw;
  border-radius: 10px;
  background: #05E6B7;

}

.color_q {
  position: relative;
  height: .3vw;
  width: .8vw;
  background: #F701A8;
  border-radius: 10px;
}

.color_r {
  position: relative;
  height: .3vw;
  width: .8vw;
  background: #00009D;
  border-radius: 10px;
}

.featureproduct1_code {
  position: relative;
  border-radius: nullpx;
  font-family: "Josefin Sans";
  font-size: .9vw;
  line-height: 1vw;
  color: #151875;
}

.featureproduct1_price {
  position: relative;
  border-radius: nullpx;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: .9vw;
  line-height: 1.1vw;
  /* identical to box height */

  /* Text */

  color: #151875;
}

