.home_footer_CustomerCare_title {
    font-family: "Josefin Sans";
    font-size: 22px;
    line-height: 26px;
    /* border: 2px solid green; */
    width: 151px;
    height: 22px;
    padding-bottom: 30px;
  
    color: #000000;
}
.home_footer_CustomerCare_content{
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 19px;

    color: #8a8fb9;
}